h1 {
    font-weight: bolder;
    font-family: cursive;
    text-transform: uppercase;
    background: -webkit-linear-gradient(20deg,rgb(161, 161, 15), blue, rgb(90, 243, 59), violet 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.button{
    background-color: rgb(15, 15, 139);
}

.button :hover{
    background-color: blueviolet;
}